@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ToDoList>
<div class="task-title">
    <h2>Task History</p>
</div>
@foreach (var listitem in Model)
{
    <div>
        @listitem.TaskName;
        @listitem.DueDate;
        @listitem.Completed;
        @listitem.Category.CategoryName;
        <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@listitem.TaskId">Edit</a>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Delete" asp-route-id="@listitem.TaskId">Delete</a>
    </div>
}